<!-- 总模板layout.ejs中的视图，脚本，样式继承 -->

<% layout('layout') -%>

  <!-- <form action="/logout" method="POST">
    <button id="btnLogout" type="submit">注销</button>
  </form> -->
  <!-- <button id="btnLogout" type="submit">注销</button> -->
<% block('footer').append('<script src="/javascripts/index.js"></script>') %>